body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: rgb(238,75,43);
    background: linear-gradient(90deg, rgba(238,75,43,1) 0%, rgba(233,126,136,1) 35%, rgba(255,250,240,1) 100%);   
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.header li {
    display: flex;
    align-items: center;
}

.header li a {
    display: block;
    color: lavender;
    padding: 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: lightgrey;
}

