body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: rgb(238,75,43);
    background: linear-gradient(90deg, rgba(238,75,43,1) 0%, rgba(233,126,136,1) 35%, rgba(255,250,240,1) 100%);   
}

body h2 {
    font-size: 30px;
}

body ul {
    font-size: 15px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 480px;
    font-size: 50px;
    color: #DDDDDD;
    font-style: italic;
}

.divider hr {
    width: 100%;
    border-top: 1px solid white;
}

.dynasty {
    text-align: center;
    font-size: 40px;
    color: #DDDDDD;
    font-style: italic;
    padding: 25px 0 0 0;
    margin: 0 auto;
}

.header {
    list-style-type: none;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #555555;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}


.header li {
    display: flex;
    align-items: center;
}

.header li a {
    display: block;
    color: #DDDDDD;
    padding: 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: lightgrey;
    color: #555555;
}
.border {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 5px 10px 50px;
}

.emperor-title {
    padding: 10px 75px 10px 50px;
    color: lightgrey;
    font-size: 20px;
}
.emperor-title h1 {
    color: #CCCCCC;
    font-size: 50px;
    display: inline;
}
.emperor-title p {
    color: #AAAAAA;
    font-size: 20px;
    display: inline;
    padding: 10px 5px;
}

.emperor-section {
    display: flex;
    flex-direction: row;
    padding: 10px 50px 100px 25px;
}

.emperor-image,
.emperor-resume {
    padding: 10px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
}


.emperor-about,
.emperor-experience, .emperor-education, .emperor-accomplishments {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    border-width: 2px;
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
    background: white;
}
.emperor-experience h3 {
    font-size: 20px;
}
.emperor-experience ul {
    font-size: 15px;
}
.emperor-accomplishments ul {
    font-size: 15px;
}


.emperor-image img {
    max-width: 100%;
    height: auto;
    border-width: 5px; 
    border-color: black;
    border-style: solid;
}

#attribution {
    font-size: 10px;
    padding: 5px;
}

@media (max-width: 768px) {
    .emperor-section {
        flex-direction: column;
    }
}
